/*
 *  style.css
 *
 *  This file has these main responsibilities:
 *  1.  Style the HTML 
 *
 *  @author Jena Graham, Emilia Holbik 
 */
@import url(http://fonts.googleapis.com/css?family=Amatic+SC|Satisfy|Mouse+Memoirs|Open+Sans:400,300,600|Open+Sans+Condensed:300);

a {
    color:#7592D3;
    text-decoration:none;
}

button, .button {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    border:1px solid grey;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color: white;
    outline: none;
    cursor: pointer;
}

body {
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    /*font-family:"Bryant","Gill Sans",sans-serif;*/
}

h1 {
    text-align:left;
    font-size:40pt;
    text-decoration:none;
    font-weight:400;
    margin-bottom:.1em;
    font-family: 'Amatic SC', cursive;
}

html {
    height:100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    margin:.2em;
    font-size:12pt;
    clear:both;
    float: left;
}

select {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    width:auto;
    font-size:14pt;
    margin:.2em;
}

svg {
    background-color:#FFC;
}

#bottom {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 450px;
    display: inline;
}

#bottom-left-filter {
    margin-top: 5px;
    width: 670px;
    height: 95px;
    background: #D6DEE9;
    border: solid 1px black;
}

#contig-us-map-canvas {
    height:450px;
    width:670px;
    border: solid 1px black;
}

#dates-text {
	font-size: 8pt;
	font-family: 'Open Sans', sans-serif;
}

#info-box-config{
    border-bottom:2px solid lightgray;
    width: 100%;
}

#logo {
    width:auto;
    float:right;
}

#map-canvas {
    float:left;
    width:100%;
    height:80%;
}

#map-title {
    width:auto;
    float:left;
}

#panels {
    margin-top:10px;
}

#right-info-box {
    width: 310px;
    height: 552px;
    background: #D6DEE9;
    border: solid 1px black;
}

#right-info-data {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 520px;
    overflow: auto; /* adds scroll bar */
}

#top {
    clear:both;
    display:inline-block;
    height:100px;
    width:992px;
    border-bottom: solid 16px #823099;
}

#wrap {
    height:100%;
    width:1000px;
    margin:0 auto;
}

.active-button{
    background-color: lightgrey;
}

.data-box-contain {
    margin: 0px 0px;
    overflow: auto;
    border-top: 1px black dashed;
}

.data-box-contain p {
    font-size: 12px;
}

.data-box-contain p span {
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
}

.data-box-selected {
    background-color:  #FFFF85;
}

.hide-element {
    visibility: hidden;
}

.side-by-side{
    padding-top: 20px;
    display:inline-block;
    vertical-align:top;
}

.stacked{
    display: block;
}
